:root {
  --bg-color: #ffffff;
  --text-color: #111111;
}

[data-theme='dark'] {
  --bg-color: #0d1117;
  --text-color: #f0f0f0;
}

/* Apply variables globally */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
[data-theme='solarized'] {
  --bg-color: #fdf6e3;
  --text-color: #657b83;
}
